.body_background 
{
    background-image: url("https://th.bing.com/th/id/R2f390057cd058c297ac1109f520f8a02?rik=EgLFNtNKnDmaFQ&riu=http%3a%2f%2fs3.amazonaws.com%2fdigitaltrends-uploads-prod%2f2017%2f07%2fmarvel-cinematic-universe.jpg&ehk=lib1lNb3OSgv4r8CTHKwoBzVmDoYVQt3B1xta9gZhDA%3d&risl=&pid=ImgRaw");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
 }
h3
{
	display: inline-block;
}
span
{
	color: black;	
}
a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    float: left;
    border-radius: 10px;
}
#head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}
